// app global css in SCSS form

@import 'quasar.variables';
@import 'footer';
@import 'q-fields';
@import 'layout';
@import 'essential-link';
@import 'nav-bar';
@import 'mini-dashboard';
@import 'q-menu';
@import 'canvas';


.lg-visible {
  @media (max-width: 772px) {
    display: none;
  }
}
.mb-visible {
  @media (min-width: 772px) {
    display: none;
  }
}

.content {
  height: 305px;
}