.mini-dashboard {
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-shadow: 5px 8px 18px rgba(98, 94, 88, 0.12);
  border-radius: 2px;
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  padding: 16px 20px;
  margin-top: 8px;
  margin-bottom: 23px;
  .item {
    margin-right: 26px;
    &:last-child {
      margin-right: 0;
    }
    .title {
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: #2B2B2B;
      margin-bottom: 2px;
    }
    ul {
      padding: 0;
      li {
        margin-top: 8px;
        list-style: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #696969;
      }
    }
  }
}
@media (max-width: 772px) {
  .pdd-mob {
    padding: 10px;
    width: 100%;
    & > .q-btn {
      position: fixed;
      bottom: 15px;
      width: calc(100% - 20px);
    }
  }
  .mini-dashboard {
    flex-wrap: wrap;
    padding: 4px;
    margin-top: 8px;
    width: 100%;
    padding-bottom: 11px;
    
    .item {
      margin: 11px;
      margin-bottom: 4px;
      flex: 0 0 calc(50% - 17px);
      max-width: calc(50% - 17px);
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      ul {
        padding: 0;
        margin-bottom: 0;
      }
    }
  }
  .mob-navigation {
    flex: 0 0 100%;
    width: 100%;
    padding: 0 10px;
    height: 40px;
    position: fixed;
    bottom: 80px;
    .q-tabs__content {
      justify-content: space-between;
      flex-direction: row;
      .q-tab {
        flex: 0 0 40px;
        max-width: 40px;
        margin: 0;
        background: $grey;
        .q-icon {
          color: white;
        }
        &[aria-selected="true"] {
          .q-icon {
            color: white;
          }
        }
      }
    }
  }
} 