.section-btn {
  display: flex;
  align-items: center;
}
.q-btn-nav {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  &:before {
    box-shadow: none;
  }
  .q-icon {
    color: white;
  }
  .q-icon-fill {
    stroke: white;
    color: $dark;
  }
  &[aria-selected="true"] {
    background: $orange;
    .q-icon {
      color: $grey;
    }
    .q-icon-fill {
      stroke: white;
      color: #3B3B3B;
    }
  }
  .q-tab__indicator {
    display: none;
  }
}

.my-select {
  
  .q-field__control {
    min-height: 32px;
    height: auto;
    background: white;
    .q-field__native,
    .q-field__append {
      min-height: 32px;
      height: auto;
    }
    .q-field__append {
      .q-icon {
        font-size: 12px;
      }
    }
  }
}

.my-input {
  border-radius: 2px;
  .q-field__control {
    border: 1px solid #DADADA;
    background: #FFFFFF;
    border-radius: 2px;
    height: auto;
    
    &:before {
      border: none;
      border: 1px solid #DADADA;
    }
    &:focus::before {
      border: 1px solid #DADADA;
    }
    &:after {
      display: none;
    }
    input {
      padding: 1px 0;
      padding-left: 12px;
    }
  }
}

.my-checkbox {
  .q-checkbox__inner--truthy .q-checkbox__bg,
  .q-checkbox__inner--indet .q-checkbox__bg {
    background: rgba(0,0,0,0);
    border-color: white;
    border-radius: 2px;
    .q-checkbox__svg {
      padding: 2px;
    }
  }
  .q-checkbox__bg {
    top: 28%;
    left: 27%;
    width: 45%;
    height: 45%;
  }
  &[aria-checked="false"] {
    .q-checkbox__bg {
      border-color: white;
    }
  }
  .q-checkbox__inner {
    // font-size: auto;
    // width: auto;
    // min-width: auto;
    // height: auto;
    &:before {
      display: none;
    }
  }
}

.q-tooltip {
  z-index: 1000;
  overflow: visible;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  border-radius: 2px;

  &:after {
    content: '';
    width: 8px;
    height: 16px;
    background: url(/icons/arrow-tooltip.svg);
    position: absolute;
    display: block;
    background-size: contain;
    z-index: 1000;
  }
  &.tooltip-right {
    &:after {
      left: -7px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  &.tooltip-bottom {
    transform: translateY(-4px);
    &:after {
      left: 0;
      right: 0;
      top: -9px;
      margin: auto;
      transform: rotate(90deg);
    }
  }
}