.q-menu-my {
  background: #4F4F4F;
  border-radius: 2px;
  overflow: visible;
  box-shadow: none;
  .q-menu-container {
    padding: 10px;
  }
  .field-group {
    .title {
      font-weight: 500;
      font-size: 15px;
      line-height: 140%;
      color: #EFEFEF;
      margin-bottom: 4px;
    }
  }
}
.q-menu-right {
  transform: translateX(10px);
  &:before {
    content: '';
    width: 14px;
    height: 28px;
    display: block;
    position: absolute;
    background: white;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -10px;
    background: url(/icons/arrow-menu.svg);
  }
}
.q-menu-bottom {
  transform: translateY(10px);
  &:before {
    content: '';
    width: 14px;
    height: 28px;
    display: block;
    position: absolute;
    background: white;
    top: -17px;
    margin: auto;
    left: 0;
    right: 0;
    transform: rotate(90deg);
    background: url(/icons/arrow-menu.svg);
  }
}
.q-menu-settings {
  width: 182px;
  .q-menu-container {
    padding-top: 4px;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .field-group {
    margin-top: 6px;
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    margin-right: 10px;
  }
}

.q-menu-colors {
  width: 227px;
  .q-menu-container {
    display: flex;
    flex-wrap: wrap;
    .q-item {
      padding: 0;
      width: 23px;
      height: 23px;
      min-height: 23px;
    }
  }
}

.q-menu-formwork {
  width: 130px;
  .field-group {
    margin-top: 6px;
    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 0;
    }
  }
}