.q-menu-my {
  background: #4F4F4F;
  border-radius: 2px;
  overflow: visible;
  box-shadow: none;
  .q-menu-container {
    padding: 10px;
  }
  .field-group {
    .title {
      font-weight: 500;
      font-size: 15px;
      line-height: 140%;
      color: #EFEFEF;
      margin-bottom: 4px;
    }
  }
}
.q-menu-right {
  transform: translateX(10px);
  &:before {
    content: '';
    width: 14px;
    height: 28px;
    display: block;
    position: absolute;
    background: white;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -9px;
    background: url(/icons/arrow-menu.svg);
  }
}
.q-menu-bottom {
  transform: translateY(10px);
  &:before {
    content: '';
    width: 14px;
    height: 28px;
    display: block;
    position: absolute;
    background: white;
    top: -16px;
    margin: auto;
    left: 0;
    right: 0;
    transform: rotate(90deg);
    background: url(/icons/arrow-menu.svg);
  }
}
.q-menu-settings {
  width: 182px;
  .q-menu-container {
    padding-top: 4px;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .field-group {
    margin-top: 6px;
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    margin-right: 10px;
  }
}

.q-menu-colors {
  width: 227px;
  .q-menu-container {
    display: flex;
    flex-wrap: wrap;
    .q-item {
      padding: 0;
      width: 23px;
      height: 23px;
      min-height: 23px;
    }
  }
}

.q-menu-formwork {
  width: 130px;
  .field-group {
    margin-top: 6px;
    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 0;
    }
  }
}

.q-menu-nav {
  background: rgba(0,0,0,0);
  .q-tabs {
    width: 208px;
    .q-tabs__content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .q-tab {
      background: $dark;
      margin-right: 10px;
      max-width: 40px;
      margin-top: 10px;
      margin-left: 0;
      &:nth-child(3) {
        margin-right: 20px;
      }
      &:last-child {
        margin: auto;
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 772px) {
  .q-menu-bottom {
    transform: translateY(17px);
    &:before {
      margin-left: 22px;
    }
  }
}